In [27]:

list_nums = []
while True :
   nums = input( "enter numbers separated by (,) or done : " )
   if nums.lower() == 'done' :
      break
   N =nums.split (",")
   for i in N :
    list_nums.append(int (i))
asc = sorted(list_nums)
des =  sorted(list_nums,reverse = True)
print ("Ascending : " , asc)
print ("Descending : " , des)

enter numbers separated by (,) or done : 1,60,59,34,0
enter numbers separated by (,) or done : done
Ascending :  [0, 1, 34, 59, 60]
Descending :  [60, 59, 34, 1, 0]

In [17]:
def modify_list(lst) :
  lst.append(100)
  lst.insert(2,999)
  for i in lst :
    if i == 50 :
     lst.remove(50)
  lst.pop()
  print ("list : ", lst)
modify_list([1 , 6 , 9 , 50])

list :  [1, 6, 999, 9]

In [21]:
students = []
for i in range(5) :
  name = input ("enter name : ")
  grade = float(input("enter grade : "))
  students.append([name , grade])
max_grade = students[0]
min_grade = students[0]
for i in  students :
    if i[1] > max_grade[1] :
      max_grade = i
    if i[1] < min_grade[1] :
      min_grade = i
print ("student with high grade : ", max_grade[0] , "grade : ", max_grade[1] )
print ("student with low  grade : ", min_grade[0] , "grade : ", min_grade[1] )

enter name : soha
enter grade : 80
enter name : mohammed
enter grade : 76.6
enter name : sama
enter grade : 84.7
enter name : yahya
enter grade : 70
enter name : yara
enter grade : 90.1
student with high grade :  yara grade :  90.1
student with low  grade :  yahya grade :  70.0

In [23]:
def modify_fruits(fruits):
  fruits.append("kiwi")
  fruits.insert(2,"gape")
  fruits[0] = fruits[0].upper()
  fruits.pop(1)
  print ("fruits list : ", fruits)
modify_fruits(["banana","apple","mango","cherry"])

fruits list :  ['BANANA', 'gape', 'mango', 'cherry', 'kiwi']

In [25]:
lst = []
name = input("enter your name : ")
age  = int (input("enter your age : "))
lst.append(name)
lst.append(age)
if age < 18 :
  print("Young")
elif 18 <= age <= 60  :
  print ("Adult")
else :
  print ("Senior")

enter your name : sohila
enter your age : 20
Adult

In [28]:
temp = [49 , 14 , 12 , 9 , 36 , 31]
count_high_deg = 0
count_low_deg = 0
for i in temp :
  if i > 30 :
    count_high_deg += 1
  elif i < 15 :
    count_low_deg += 1
  else :
    print("  ")
print ("Temperatures above 30 " , count_high_deg)
print ("Temperatures below 15  " , count_low_deg)

Temperatures above 30  3
Temperatures below 15   3

In [31]:
def remove_all_accurrences(lst , value):
   while value in lst :
     lst.remove(value)
   print ("list : " , lst)
remove_all_accurrences(["soha","sama","emy","soha"],"soha")

list :  ['sama', 'emy']

In [36]:
num = 42
attempts = 0
while True :
  num_in = int (input ("enter number : "))
  if num_in > 42 :
    print("too high")
    attempts += 1
  elif num_in < 42 :
    print("too low")
    attempts += 1
  else :
    attempts += 1
    print ("correct")
    break
print("attempts = " , attempts )

enter number : 30
too low
enter number : 50
too high
enter number : 42
correct
attempts =  3

In [43]:
shopping_list = []
while True :
  print ("1.Add  2.remove  3.sort  4.Exit")
  choice = input("choice : ")
  if choice == "1":
    item1 = input("enter item : ")
    shopping_list.append(item1)
    print (shopping_list)
  elif choice == "2" :
    item2 = input(" enter item : ")
    if item2 in shopping_list :
      shopping_list.remove(item2)
      print(shopping_list)
    else :
      print ("not found")
  elif choice == "3" :
    print (sorted(shopping_list))
  elif choice == "4"  :
    break

1.Add  2.remove  3.sort  4.Exit
choice : 1
enter item : pen
['pen']
1.Add  2.remove  3.sort  4.Exit
choice : 1
enter item : pencil
['pen', 'pencil']
1.Add  2.remove  3.sort  4.Exit
choice : 2
 enter item : pencil
['pen']
1.Add  2.remove  3.sort  4.Exit
choice : 4

In [51]:
  city = []
  for i in range (7) :
    city_in = input("enter city ")
    city.append(city_in)
  for i in city :
   length = len(i)
   print ("city : " , i , "length : " , length  )

enter city Amman
enter city Dubai
enter city Rome
enter city Tokyo
enter city London
enter city Doha
enter city Cairo
city :  Amman length :  5
city :  Dubai length :  5
city :  Rome length :  4
city :  Tokyo length :  5
city :  London length :  6
city :  Doha length :  4
city :  Cairo length :  5